# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\SEMICOLON\Flask\Flask_Telegram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
